name: Publish to Maven Repository

on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Extract version
        id: version
        run: |
          VERSION=$(./gradlew -q printVersion | tail -n 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected version: $VERSION"

      - uses: burrunan/gradle-cache-action@v3
        name: Execute Gradle build
        with:
          arguments: publishToMavenLocal

      - name: Checkout Maven Repo
        uses: actions/checkout@v6
        with:
          repository: SettingDust/maven
          token: ${{ secrets.MAVEN_REPO_TOKEN }}
          path: maven-repo

      - name: Copy artifacts
        run: |
          GROUP_PATH="settingdust/preloading_tricks"
          SOURCE="$HOME/.m2/repository/$GROUP_PATH"
          TARGET="maven-repo/repository/$GROUP_PATH"
          
          mkdir -p "$TARGET"
          cp -r "$SOURCE"/* "$TARGET/"

      - name: Commit and push
        working-directory: maven-repo
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add repository/
          git commit -m "chore(release): publish PreloadingTricks ${{ steps.version.outputs.version }}" || echo "No changes to commit"
          git push