on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - uses: burrunan/gradle-cache-action@v3
        name: Execute Gradle build
        with:
          arguments: build

      - name: Get CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          writeToFile: false
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Git Status
        run: |
          git status --porcelain
          ./gradlew printVersion

      - name: Update CHANGELOG
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md
